.overlay {
    position: fixed;

    // /* Full width (cover the whole page) */
    width: 100vw;
    height: 100vh;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Black background with opacity */
    z-index: 2;
    /* Add a pointer on hover */
    background-color: transparent
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.SferaModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.SferaModal {
    z-index: 9999999;
    min-height: 100px;
    background-color: white;
    box-shadow: 1px -1px 39px -17px rgba(0,0,0,0.45);

    &.xl {
        width: 70%;
    }

    &.lg {
        width: 900px !important;
    }

    &.md {
        width: 700px !important;
    }

    &.sm {
        width: 600px !important;
        ;
    }

    &.xs {
        width: 300px !important;
        ;
    }

    .SferaModal_Body {
        cursor: default;
        padding: 1rem;
    }
}

//Corrige el z-index del POSV2.
.ag-center-cols-viewport {
    z-index: 0;
    position: relative
}

#modal-wrapper {
    z-index: 1000;
    position: relative;
}


.SferaModal{
    .EReceta{
        padding: 0;
        
        .PageHeader{
            padding-top: 0!important
        }
    }
}