.Modal-iconsLegend{
  &__icon{
    display: flex;
    align-items: center;
    margin-right: 5px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__noResult{
    font-size: 12px;
  }

  &__search{
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    position: relative;

    &__clear{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: #fff;
      padding: 0 18px;
      display: flex;
      justify-content: right;
      align-items: center;

      button{
        font-size: 11px;
        border-radius: 20px;
        padding: 5px 15px;
        transition: all 0.2s ease-in-out;
        border: 1px solid #ebebeb;
        background-color: transparent;
  
        &:hover{
          background-color: rgba(0,0,0,0.1)
        }

        &:focus{
          outline: none;
        }
      }
     
    }
    
    input{
      border-radius: 0;
      box-shadow: none;
      border: 0;
      padding-right: 80px!important;
      font-size: 14px;

      &:focus{
        outline: 0;
        box-shadow: none;
      }
    }

  }

  &__list{
    padding: 0 10px 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 300px;
    overflow: auto;

    &__item{
      border: 1px solid #efefef;
      padding: 15px;
      // width: calc(25% - 10px);
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-items: center;
      margin: 0 0 10px;
      border-radius: 3px;

      // &:nth-last-child(-n+4) {
      //   margin-bottom: 0;
      // }


      img{
        width: 20px;
        height: auto;
        width: 100%;
        max-width: 20px;
      }
      
      dl{
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        padding-left: 20px;

        dt,dd{
          text-align: center;
        }

        dt{
          font-size: 14px;
          margin-bottom: .5rem;
          line-height: 1.2;
        }

        dd{
          font-size: 12px;
          line-height: 1.2;
          text-align: left;
        }
      }

      dl,
      dl dd{
        margin: 0;
      }


    }
  }
}